<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Patrick Binyin Di (狄斌寅)",
  "givenName": "Binyin",
  "alternateName":["Patrick", "Patrick Di", "Paddy", "狄斌寅", "BD", "PD"],
  "familyName": "Di",
  "url": "https://di-ag.github.io/",
  "image": "https://di-ag.github.io/web/images/portrait.jpeg",
  "jobTitle": "Doctor of Philosophy Student, CQUniversity Australia",
  "worksFor": {
    "@type": "CollegeOrUniversity",
    "name": "CQUniversity Australia",
    "url": "https://www.cqu.edu.au/"
  },
  "alumniOf": {
    "@type": "CollegeOrUniversity",
    "name": "The University of Queensland"
  },
  "description": "Research interests: remote sensing, precision agriculture, and ecology.",
  "knowsAbout": [
    "remote sensing",
    "precision agriculture",
    "ecology",
    "UAV imagery",
    "crop phenology",
    "data analysis"
  ],
  "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "work",
    "email": "mailto:binyin [at] cqumail.com"
  },
  "sameAs": [
    "https://orcid.org/0000-0002-0289-8016",
    "https://github.com/patrickaxe",
    "https://www.linkedin.com/in/binyindi/"
  ]
}
</script>


